BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AllowShortLambdasOnASingleLine: false
BreakBeforeBraces: Attach
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: DontAlign
